* {
    box-sizing: border-box;
    margin: 5px;
}

.conteudo{
    margin-top: 5%;
    height: 80%;
    width: 100%;
}
.primeiro,.segundo,.terceiro{
    height:60%;
    width: 30%;
    margin-top: 5%;
}
.primeiro{
    position: absolute;
    margin-left: 5%;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.segundo{
    position: absolute;
    margin-left: 35%;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terceiro{
    position: absolute;
    margin-left: 65%;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato {
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100%;
    margin-top: 20%;
    display: flex;
    }

.ImagemdePerfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.redesum,.redesdois,.redestres{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px; }
.redesum{
    margin-left: 70%;

}
.redesdois{
    margin-left: 130%;
}
.redestres{
    margin-left: 190%;
}